Repository mayadata-io/oep-e2e, pull requests merged in 2020-06, with the labels that each got.

#618 [TCID-DIR-OP-DELETE-SPC-WITH-NO-VOLUME]:Delete SPC via director which has no volume
  litmus/director/TCID-DIR-OP-DELETE-SPC-WITH-NO-VOLUME/README.md
  litmus/director/TCID-DIR-OP-DELETE-SPC-WITH-NO-VOLUME/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-DELETE-SPC-WITH-NO-VOLUME/test.yml
  litmus/director/TCID-DIR-OP-DELETE-SPC-WITH-NO-VOLUME/test_vars.yml
  utils/spc.yml
Labels: cstor, cstorpool recommendations, cstorpoolauto, director, e2e-dev-complete, e2e-test-p1, enhancement

#629 [TCID-DIR-OP-CSTOR-POOL-RECOMMEND-CREATE-RAIDZ]:Verify creation of raidz cstor pool
  litmus/director/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-CREATE-RAIDZ/README.md
  litmus/director/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-CREATE-RAIDZ/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-CREATE-RAIDZ/test.yml
  litmus/director/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-CREATE-RAIDZ/test_vars.yml
Labels: cstor, cstorpool recommendations, cstorpoolauto, director, e2e-dev-complete, e2e-test-p1, recommendations

#631 Changed labeling logic for controlplane and dataplane components
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-CP-ON-SPECIFIC-NODE/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-CP-ON-SPECIFIC-NODE/test.yml
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-DP-ON-SPECIFIC-NODE/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-DP-ON-SPECIFIC-NODE/test.yml
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS/test.yml
  litmus/director/TCID-DIR-OP-RE-INSTALL-OPENEBS/test.yml
Labels: install

#636 Changed format of post request for labelling node
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-CP-ON-SPECIFIC-NODE/test.yml
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-DP-ON-SPECIFIC-NODE/test.yml
Labels: bug-fix, install

#637 Added check to wait untill label value is reflected in API.
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-CP-ON-SPECIFIC-NODE/test.yml
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-DP-ON-SPECIFIC-NODE/test.yml
Labels: bug-fix, install

#645 Increased retries for client component check
  litmus/director/cluster-connect-check/test.yaml
Labels: bug-fix

#647 [TCID-DIR-OP-DELETE-CSPC-WITH-VOLUME]:Delete CSPC created via director which has volume
  litmus/director/TCID-DIR-OP-DELETE-CSPC-WITH-VOLUME/README.md
  litmus/director/TCID-DIR-OP-DELETE-CSPC-WITH-VOLUME/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-DELETE-CSPC-WITH-VOLUME/test.yml
  litmus/director/TCID-DIR-OP-DELETE-CSPC-WITH-VOLUME/test_vars.yml
Labels: cstor, cstorpool recommendations, cstorpoolauto, director, e2e-dev-complete, e2e-test-p1, negative, pool, recommendations

#653 Fix for Delete SPC via director which has no volume
  litmus/director/TCID-DIR-OP-DELETE-SPC-WITH-NO-VOLUME/test.yml
Labels: bug-fix

#660 Remove list recommendation tc readme file
  .master-plan.yml
  testplan/docs/director/openebs-provisioning/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-LIST.md
  testplan/docs/director/openebs-provisioning/provisioning.md
  testplan/sidebars.js
Labels: master plan, testplan

#662 [TCID-DIR-OP-CSTOR-POOL-RECOMMEND-RAIDZ-REBOOT-NODE]:Verify raidz cstor pool cluster after node reboot
  litmus/director/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-RAIDZ-REBOOT-NODE/README.md
  litmus/director/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-RAIDZ-REBOOT-NODE/test.yml
  litmus/director/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-RAIDZ-REBOOT-NODE/test_litmus_test.yml
  litmus/director/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-RAIDZ-REBOOT-NODE/test_vars.yml
Labels: cstor, cstorpool recommendations, cstorpoolauto, director, e2e-dev-complete, e2e-test-p1, pool, recommendations

#666 chore(release): add kubera 1.10 release notes
  testplan/docs/kubera-e2e-release-1.10.md
  testplan/sidebars.js
Labels: oep release

#669 Changed file name for cstor-pool-raidz-recommend-reboot-node
  litmus/director/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-RAIDZ-REBOOT-NODE/run_litmus_test.yml
Labels: bug-fix

#671 chore(release): update release notes on kubera 1.10
  testplan/docs/kubera-e2e-release-1.10.md
Labels: chore, oep release

#686 [TCID-DIR-OP-DELETE-EXTERNAL-CSPC-WITH-NO-VOLUME]Delete CSPC not created via director which has no volume
  litmus/director/TCID-DIR-OP-DELETE-EXTERNAL-CSPC-WITH-NO-VOLUME/README.md
  litmus/director/TCID-DIR-OP-DELETE-EXTERNAL-CSPC-WITH-NO-VOLUME/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-DELETE-EXTERNAL-CSPC-WITH-NO-VOLUME/test.yml
  litmus/director/TCID-DIR-OP-DELETE-EXTERNAL-CSPC-WITH-NO-VOLUME/test_vars.yml
  utils/cspc.yml
Labels: cstor, cstorpool recommendations, cstorpoolauto, director, e2e-dev-complete, e2e-test-p1, pool

#694 Fetching node name using blockdevice
  litmus/director/TCID-DIR-OP-DELETE-EXTERNAL-CSPC-WITH-NO-VOLUME/test.yml
Labels: bug-fix

#695 Update C2 details and add C3 details for Konvoy
  testplan/docs/testbed.md
Labels: konvoy

#706 Changed imagepullpolicy for litmus jobs
  litmus/director/TCID-DIR-OP-CSTOR-POOL-MIRROR-RECOMMEND-REBOOT-NODE/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-CREATE-MIRROR/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-CREATE-RAIDZ/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-CREATE-STRIPE/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-LIST-MIRROR/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-LIST-NO-NDM/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-LIST-RAIDZ/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-LIST-STRIPE/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-RAIDZ-REBOOT-NODE/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-DELETE-CSPC-WITH-NO-VOLUME/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-DELETE-CSPC-WITH-VOLUME/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-DELETE-EXTERNAL-CSPC-WITH-NO-VOLUME/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-DELETE-SPC-WITH-NO-VOLUME/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-CP-ON-SPECIFIC-NODE/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-DP-ON-SPECIFIC-NODE/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-LIMIT-RESOURCE/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-RE-INSTALL-OPENEBS/run_litmus_test.yml
  litmus/director/account-access/cluster-account/run_litmus_test.yml
  litmus/director/account-access/project-account/run_litmus_test.yml
  litmus/director/admin-create-apikey/run_litmus_test.yml
  litmus/director/admin-secret/run_litmus_test.yml
  litmus/director/cassandra/run_litmus_test.yml
  litmus/director/change-role-negative/run_litmus_test.yml
  litmus/director/change-role/run_litmus_test.yml
  litmus/director/cluster-connect-check/run_litmus_test.yml
  litmus/director/cluster-connect/run_litmus_test.yml
  litmus/director/common-checks/run_litmus_test.yml
  litmus/director/configs-db/run_litmus_test.yml
  litmus/director/consul/run_litmus_test.yml
  litmus/director/create-apikey/run_litmus_test.yml
  litmus/director/ingress-nginx/run_litmus_test.yml
  litmus/director/invite/run_litmus_test.yml
  litmus/director/maya-io-server/run_litmus_test.yml
  litmus/director/maya-ui/run_litmus_test.yml
  litmus/director/metrics/run_litmus_test.yml
  litmus/director/mysql/run_litmus_test.yml
  litmus/director/od-elasticsearch/run_litmus_test.yml
  litmus/director/self-cluster-connect/run_litmus_test.yml
  litmus/director/tcid-iuoc01-control-plane-upgrade/run_litmus_test.yml
  litmus/director/tcid-iuoc02-control-plane-upgrade-operator-yml/run_litmus_test.yml
  litmus/director/tcid-iuoc03-control-plane-upgrade-higher-version-data-plane/run_litmus_test.yml
  litmus/director/tcid-iuoc04-control-plane-upgrade-higher-version/run_litmus_test.yml
  litmus/director/tcid-iuod08-pool-upgrade/run_litmus_test.yml
  litmus/director/tcid-iuod12-volume-upgrade/run_litmus_test.yml
  litmus/director/tcid-iuod23-pool-upgrade-all-pod-running/run_litmus_test.yml
  litmus/director/tcid-iuod24-pool-upgrade-one-pod-not-running/run_litmus_test.yml
  litmus/director/tcid-iuod25-pool-upgrade-two-pod-not-running/run_litmus_test.yml
  litmus/director/tcid-iuod26-pool-upgrade-all-pod-not-running/run_litmus_test.yml
  litmus/director/tcid-iuod27-volume-upgrade-jiva/run_litmus_test.yml
  litmus/director/tcid-iuod28-upgrade-replica-pod-pending/run_litmus_test.yml
  litmus/director/tcid-iuod29-upgrade-two-replica-pod-pending/run_litmus_test.yml
  litmus/director/tcid-iuod30-upgrade-all-replica-pod-pending/run_litmus_test.yml
  litmus/director/tcid-iuoi01-openebs-self-install/run_litmus_test.yml
  litmus/director/topology/run_litmus_test.yml
Labels: enhancement

#721 [TCID-DIR-OP-DELETE-SPC-WITH-VOLUME]:Delete SPC via director which has volume
  litmus/director/TCID-DIR-OP-DELETE-SPC-WITH-VOLUME/README.md
  litmus/director/TCID-DIR-OP-DELETE-SPC-WITH-VOLUME/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-DELETE-SPC-WITH-VOLUME/template/minio-manifest/minio-official.yaml
  litmus/director/TCID-DIR-OP-DELETE-SPC-WITH-VOLUME/template/minio-manifest/minio-pvc.yaml
  litmus/director/TCID-DIR-OP-DELETE-SPC-WITH-VOLUME/template/minio-manifest/minio-svc.yaml
  litmus/director/TCID-DIR-OP-DELETE-SPC-WITH-VOLUME/template/sc.yml
  litmus/director/TCID-DIR-OP-DELETE-SPC-WITH-VOLUME/template/spc.yml
  litmus/director/TCID-DIR-OP-DELETE-SPC-WITH-VOLUME/test.yml
  litmus/director/TCID-DIR-OP-DELETE-SPC-WITH-VOLUME/test_vars.yml
Labels: cstor, cstorpool recommendations, cstorpoolauto, director, e2e-dev-complete, e2e-test-p1, enhancement, negative, openebs, pool

#726 Changed storage class yaml for delete spc with volume test case
  litmus/director/TCID-DIR-OP-DELETE-SPC-WITH-VOLUME/template/sc.yml
Labels: cstor, cstorpool recommendations, director

#738 Get the bd which is not attached to master node to create SPC
  litmus/director/TCID-DIR-OP-DELETE-SPC-WITH-VOLUME/test.yml
Labels: bug-fix, cstor, cstorpool recommendations, cstorpoolauto

#742 Copy aws credentials into the job to perform reboot,delete operations of the aws instances
  litmus/director/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-RAIDZ-REBOOT-NODE/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-RAIDZ-REBOOT-NODE/test.yml
  litmus/director/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-RAIDZ-REBOOT-NODE/test_vars.yml
  utils/config
  utils/credentials
Labels: aws, cstor

#746 Fetching latest templateid to install latest openebs via director
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-CP-ON-SPECIFIC-NODE/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-CP-ON-SPECIFIC-NODE/test.yml
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-CP-ON-SPECIFIC-NODE/test_vars.yml
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-DP-ON-SPECIFIC-NODE/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-DP-ON-SPECIFIC-NODE/test.yml
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-DP-ON-SPECIFIC-NODE/test_vars.yml
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-LIMIT-RESOURCE/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-LIMIT-RESOURCE/test.yml
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-LIMIT-RESOURCE/test_vars.yml
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS/test.yml
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS/test_vars.yml
  litmus/director/TCID-DIR-OP-RE-INSTALL-OPENEBS/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-RE-INSTALL-OPENEBS/test.yml
  litmus/director/TCID-DIR-OP-RE-INSTALL-OPENEBS/test_vars.yml
Labels: install, openebs
