Repository mayadata-io/oep-e2e, pull requests merged in 2020-07, with the labels that each got.

#751 fix(openebs-install): check node details of the cluster
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-CP-ON-SPECIFIC-NODE/test.yml
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS/test.yml
Labels: bug-fix, flaky-fix, install, node, openebs-install

#763 chore(check): add label check post label cleanup task
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-CP-ON-SPECIFIC-NODE/test.yml
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-DP-ON-SPECIFIC-NODE/test.yml
Labels: blocker, openebs-install

#774 update openebs-functional testcases in sidebar
  .master-plan.yml
  testplan/docs/openebs-enterprise/OPENEBS-FUNCTIONAL/TCID-ZFS-LOCALPV-PROVISIONER-DEPLOY.md
  testplan/sidebars.js
Labels: testplan

#770 Removed duplicate TCID's for opnebebs data plane upgrade
  .master-plan.yml
Labels: master plan, openebs upgrade

#799 [TCID-DIR-OP-DELETE-EXTERNAL-CSPC-WITH-VOLUME]:Delete CSPC not created via director which has volume
  litmus/director/TCID-DIR-OP-DELETE-EXTERNAL-CSPC-WITH-VOLUME/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-DELETE-EXTERNAL-CSPC-WITH-VOLUME/template/minio-manifest/minio-official.yaml
  litmus/director/TCID-DIR-OP-DELETE-EXTERNAL-CSPC-WITH-VOLUME/template/minio-manifest/minio-pvc.yaml
  litmus/director/TCID-DIR-OP-DELETE-EXTERNAL-CSPC-WITH-VOLUME/template/minio-manifest/minio-svc.yaml
  litmus/director/TCID-DIR-OP-DELETE-EXTERNAL-CSPC-WITH-VOLUME/template/sc.yml
  litmus/director/TCID-DIR-OP-DELETE-EXTERNAL-CSPC-WITH-VOLUME/test.yml
  litmus/director/TCID-DIR-OP-DELETE-EXTERNAL-CSPC-WITH-VOLUME/test_vars.yml
Labels: api, cstor, cstorpool recommendations, director, negative

#806 Added openebs control plane upgrade test case id in master plan
  .master-plan.yml
Labels: api, director, openebs, openebs upgrade, testplan

#808 Openebs upgrade fix passed variable to job
  litmus/director/TCID-DIR-OP-OPENEBS-UPGRADE-CP/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-OPENEBS-UPGRADE-CP/test_vars.yml
Labels: director, openebs upgrade

#809 Added task to check openebs pods and containers status
  litmus/director/TCID-DIR-OP-OPENEBS-UPGRADE-CP/test.yml
Labels: api, bug-fix, director, openebs upgrade

#812 Refactored logic to select blockdevice which is unclaimed and does not contain any file system into it
  litmus/director/TCID-DIR-OP-DELETE-EXTERNAL-CSPC-WITH-NO-VOLUME/test.yml
  litmus/director/TCID-DIR-OP-DELETE-EXTERNAL-CSPC-WITH-VOLUME/test.yml
Labels: bug-fix, todo refactor

#815 chore(release): add Kubera-1.11 release notes
  testplan/docs/kubera-e2e-release-1.11.md
  testplan/sidebars.js
Labels: oep release

#822 Added check to verify openebs is installed or not via API
  litmus/director/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-CREATE-MIRROR/test.yml
  litmus/director/TCID-DIR-OP-RE-INSTALL-OPENEBS/test.yml
Labels: api, konvoy, negative, openebs

#825 Changed port of minio application
  litmus/director/TCID-DIR-OP-DELETE-EXTERNAL-CSPC-WITH-VOLUME/template/minio-manifest/minio-svc.yaml
Labels: cstor, cstorpool recommendations, cstorpoolauto

#829 Removing travis build code for testplan
  .travis.yml
Labels: build, docusaurus, testplan
