Repository mayadata-io/oep-e2e, pull requests merged in 2020-04, with the labels that each got.

#354 Refactored openebs reinstallation test case
  litmus/director/tcid-iuoi03-openebs-control-plane/test.yml
  litmus/director/tcid-iuoi04-openebs-data-plane/test.yml
  litmus/director/tcid-iuoi06-openebs-reinstallation/test.yml
  litmus/director/tcid-iuoi14-openebs-resource-limit-installation/test.yml
Labels: refactor

#355 Added imagePullSecrets in openebs-reinstallation job and removed some typos
  litmus/director/tcid-iuoi06-openebs-reinstallation/run_litmus_test.yml
  litmus/director/tcid-iuoi06-openebs-reinstallation/test.yml
  litmus/director/tcid-iuoi14-openebs-resource-limit-installation/test.yml
Labels: bug-fix

#342 feat(testplan): add cstorpool recommendation test plans
  testplan/docs/director/openebs/directorOpenEBS.md
  testplan/docs/director/openebs/tc-csp-rec-list-mirror.md
  testplan/docs/director/openebs/tc-csp-rec-list-no-ndm.md
  testplan/docs/director/openebs/tc-csp-rec-list-stripe.md
  testplan/docs/director/openebs/tc-csp-rec-list.md
  testplan/docs/director/openebs/test1.md
  testplan/sidebars.js
Labels: cstorpool recommendations, cstorpoolauto, testplan

#356 Refactored resource limit openebs installation job
  litmus/director/tcid-iuoi14-openebs-resource-limit-installation/run_litmus_test.yml
  litmus/director/tcid-iuoi14-openebs-resource-limit-installation/test.yml
Labels: refactor

#357 Changed kubectl command to check openebs is already present or not
  litmus/director/tcid-iuoi14-openebs-resource-limit-installation/test.yml
Labels: bug-fix

#358 feat(csp): update cstor pool recommendation tests
  testplan/docs/director/openebs/TC-CSP-REC-CREATE-MIRROR.md
  testplan/docs/director/openebs/TC-CSP-REC-CREATE-STRIPE.md
  testplan/docs/director/openebs/TC-CSP-REC-LIST-MIRROR.md
  testplan/docs/director/openebs/TC-CSP-REC-LIST-NO-NDM.md
  testplan/docs/director/openebs/TC-CSP-REC-LIST-STRIPE.md
  testplan/docs/director/openebs/TC-CSP-REC-LIST.md
  testplan/docs/director/openebs/directorOpenEBS.md
  testplan/sidebars.js
Labels: cstorpool recommendations, recommendations, testplan

#360 Using selectopenebsnodes to label the nodes
  litmus/director/tcid-iuoi14-openebs-resource-limit-installation/test.yml
Labels: enhancement

#362 [tcid-ppcp01] Create cstor pool using recommendations
  litmus/director/tcid-ppcp01-create-cstor-pool/README.md
  litmus/director/tcid-ppcp01-create-cstor-pool/run_litmus_test.yml
  litmus/director/tcid-ppcp01-create-cstor-pool/test.yml
  litmus/director/tcid-ppcp01-create-cstor-pool/test_vars.yml
Labels: cstorpool recommendations, e2e-dev-complete, e2e-test-p1, enhancement

#368 Refactored all openebs upgrade jobs
  litmus/director/tcid-iuod12-volume-upgrade/run_litmus_test.yml
  litmus/director/tcid-iuod12-volume-upgrade/test.yml
  litmus/director/tcid-iuod24-pool-upgrade-one-pod-not-running/run_litmus_test.yml
  litmus/director/tcid-iuod26-pool-upgrade-all-pod-not-running/run_litmus_test.yml
  litmus/director/tcid-iuod26-pool-upgrade-all-pod-not-running/test.yml
Labels: OpenEBS-upgrade, e2e-test-p1, enhancement, refactor

#371 (Fix)Added namaspace in openebs upgrade jobs
  litmus/director/tcid-iuod12-volume-upgrade/run_litmus_test.yml
  litmus/director/tcid-iuod12-volume-upgrade/test_vars.yml
  litmus/director/tcid-iuod23-pool-upgrade-all-pod-running/run_litmus_test.yml
  litmus/director/tcid-iuod24-pool-upgrade-one-pod-not-running/run_litmus_test.yml
  litmus/director/tcid-iuod26-pool-upgrade-all-pod-not-running/run_litmus_test.yml
  litmus/director/tcid-iuod27-volume-upgrade-jiva/run_litmus_test.yml
  litmus/director/tcid-iuod28-upgrade-replica-pod-pending/run_litmus_test.yml
  litmus/director/tcid-iuod29-upgrade-two-replica-pod-pending/run_litmus_test.yml
  litmus/director/tcid-iuod30-upgrade-all-replica-pod-pending/run_litmus_test.yml
Labels: refactor

#373 Increased delay in volume upgrade test case
  litmus/director/tcid-iuod12-volume-upgrade/test.yml
Labels: bug-fix

#381 (Fix): Removed typo from test file pool upgrade all pod running
  litmus/director/tcid-iuod23-pool-upgrade-all-pod-running/test.yml
Labels: bug-fix

#382 (Fix)Changed job name for upgrade jobs in vars file
  litmus/director/tcid-iuod23-pool-upgrade-all-pod-running/test_vars.yml
  litmus/director/tcid-iuod24-pool-upgrade-one-pod-not-running/test_vars.yml
Labels: bug-fix

#383 Added stdout for username and password
  litmus/director/tcid-iuod24-pool-upgrade-one-pod-not-running/test.yml
  litmus/director/tcid-iuod26-pool-upgrade-all-pod-not-running/test.yml
Labels: bug-fix

#372 feat(testplan): add director based openebs install plans
  testplan/docs/director/openebs-provisioning/TCID-OP-BD-FILTER-PATH.md
  testplan/docs/director/openebs-provisioning/TCID-OP-BD-FILTER-SSD.md
  testplan/docs/director/openebs-provisioning/TCID-OP-BD-IGNORE.md
  testplan/docs/director/openebs-provisioning/TCID-OP-BD-VIEW-ALL.md
  testplan/docs/director/openebs-provisioning/TCID-OP-BD-VIEW-SCALE-RESTART.md
  testplan/docs/director/openebs-provisioning/TCID-OP-BD-VIEW-SCALE.md
  testplan/docs/director/openebs-provisioning/TCID-OP-BD-VIEW-TOGGLE.md
  testplan/docs/director/openebs-provisioning/TCID-OP-CSP-REC-CREATE-MIRROR.md
  testplan/docs/director/openebs-provisioning/TCID-OP-CSP-REC-CREATE-STRIPE.md
  testplan/docs/director/openebs-provisioning/TCID-OP-CSP-REC-LIST-MIRROR.md
  testplan/docs/director/openebs-provisioning/TCID-OP-CSP-REC-LIST-NO-NDM.md
  testplan/docs/director/openebs-provisioning/TCID-OP-CSP-REC-LIST-STRIPE.md
  testplan/docs/director/openebs-provisioning/TCID-OP-CSP-REC-LIST.md
  testplan/docs/director/openebs-provisioning/plan.md
  testplan/docs/director/openebs/directorOpenEBS.md
  testplan/docs/openebs-enterprise/dao/dao.md
  testplan/docs/openebsEnterprise/dao/dao.md
  testplan/docs/openebsEnterprise/dao/test1.md
  testplan/docs/openebsEnterprise/openebs/openebs.md
  testplan/sidebars.js
Labels: director, install, openebs, testplan

#385 Refactored all the upgrade jobs so that they run properly
  litmus/director/tcid-iuod26-pool-upgrade-all-pod-not-running/test.yml
  litmus/director/tcid-iuod26-pool-upgrade-all-pod-not-running/test_vars.yml
  litmus/director/tcid-iuod27-volume-upgrade-jiva/test.yml
  litmus/director/tcid-iuod27-volume-upgrade-jiva/test_vars.yml
  litmus/director/tcid-iuod28-upgrade-replica-pod-pending/run_litmus_test.yml
  litmus/director/tcid-iuod28-upgrade-replica-pod-pending/test.yml
  litmus/director/tcid-iuod28-upgrade-replica-pod-pending/test_vars.yml
  litmus/director/tcid-iuod29-upgrade-two-replica-pod-pending/test.yml
  litmus/director/tcid-iuod30-upgrade-all-replica-pod-pending/test.yml
  utils/install-openebs.yml
  utils/mongo-app.yml
  utils/mongodb-app.yml
  utils/pvc.yml
Labels: OpenEBS-upgrade, enhancement, refactor

#388 Changed file directory to deploy application in upgrade jobs
  litmus/director/tcid-iuoc01-control-plane-upgrade/test.yml
  utils/mongo-app.yml
Labels: bug-fix

#391 Changes status of volume replica pods from Healthy to Running and added pre-checks
  litmus/director/tcid-iuod27-volume-upgrade-jiva/test.yml
  litmus/director/tcid-iuod28-upgrade-replica-pod-pending/test.yml
  litmus/director/tcid-iuod29-upgrade-two-replica-pod-pending/test.yml
  litmus/director/tcid-iuod30-upgrade-all-replica-pod-pending/test.yml
Labels: OpenEBS-upgrade, bug-fix

#393 Removed extra task from test file
  litmus/director/tcid-iuod29-upgrade-two-replica-pod-pending/test.yml
Labels: bug-fix

#394 Changed index value of volume replica pods
  litmus/director/tcid-iuod30-upgrade-all-replica-pod-pending/test.yml
Labels: bug-fix

#395 Added check for version
  litmus/director/tcid-iuod27-volume-upgrade-jiva/test.yml
Labels: bug-fix

#396 Added check for application volume upgrade job status
  litmus/director/tcid-iuod27-volume-upgrade-jiva/test.yml
Labels: bug-fix

#407 feat(testplan): update pipeline and testbed details
  testplan/docs/gitlabstages.md
  testplan/docs/testbed.md
Labels: testplan

#411 feat(testplan): update introduction page
  testplan/docs/getstarted.md
Labels: contribute, introduction, testplan

#414 feat(testplan): update openebs enterprise test strategies
  testplan/docs/getstarted.md
  testplan/docs/openebs-enterprise/openebs/OpenEBS-Enterprise.md
  testplan/docs/openebs-enterprise/openebs/openebs.md
  testplan/sidebars.js
Labels: openebs enterprise, testplan

#415 feat(testplan): add dmaas test strategies
  testplan/docs/director/dmaas/dmaas.md
  testplan/docs/director/dmaas/test1.md
  testplan/docs/openebs-enterprise/openebs/openebs.md
  testplan/sidebars.js
Labels: dmaas, testplan

#419 fix(testplan): update dmaas test strategy
  testplan/docs/director/alerts/alerts.md
  testplan/docs/director/alerts/test1.md
  testplan/docs/director/dmaas/dmaas.md
  testplan/sidebars.js
Labels: dmaas, testplan

#420 feat(testplan): add test strategies w.r.t dmaas, dao, openebs ee
  testplan/docs/director/dmaas/dmaas.md
  testplan/docs/openebs-enterprise/dao/dao.md
  testplan/docs/openebs-enterprise/openebs/openebs.md
Labels: dao, openebs enterprise, testplan

#389 [tcid-iuoc02]Upgrade OpenEBS installed using operator.yaml(Not using Director)
  litmus/director/tcid-iuoc02-control-plane-upgrade-operator-yml/README.md
  litmus/director/tcid-iuoc02-control-plane-upgrade-operator-yml/run_litmus_test.yml
  litmus/director/tcid-iuoc02-control-plane-upgrade-operator-yml/test.yml
  litmus/director/tcid-iuoc02-control-plane-upgrade-operator-yml/test_vars.yml
Labels: OpenEBS-upgrade, e2e-dev-complete, e2e-test-p1, enhancement

#424 feat(testplan): add soak, scalability test plans for OEE
  testplan/docs/openebs-enterprise/openebs/openebs.md
Labels: openebs enterprise, scalability, soak, testplan

#426 feat(testplan): update cluster setup details
  testplan/docs/gitlabstages.md
Labels: pipeline, testplan

#429 feat(testplan): update introduction pages
  testplan/Dockerfile
  testplan/docs/doc3.md
  testplan/docs/gitlabstages.md
  testplan/docs/pipelines.md
  testplan/docs/platforms.md
  testplan/docs/scalability.md
  testplan/docs/soakbed.md
  testplan/docs/testbed.md
  testplan/package.json
  testplan/sidebars.js
Labels: docusaurus, introduction, testplan

#432 feat(testplan): update tcid for director/openebsprovisioning tests
  testplan/docs/director/openebs-provisioning/TCID-DIR-OP-BD-FILTER-PATH.md
  testplan/docs/director/openebs-provisioning/TCID-DIR-OP-BD-FILTER-SSD.md
  testplan/docs/director/openebs-provisioning/TCID-DIR-OP-BD-IGNORE.md
  testplan/docs/director/openebs-provisioning/TCID-DIR-OP-BD-VIEW-ALL.md
  testplan/docs/director/openebs-provisioning/TCID-DIR-OP-BD-VIEW-SCALE-RESTART.md
  testplan/docs/director/openebs-provisioning/TCID-DIR-OP-BD-VIEW-SCALE.md
  testplan/docs/director/openebs-provisioning/TCID-DIR-OP-BD-VIEW-TOGGLE.md
  testplan/docs/director/openebs-provisioning/TCID-DIR-OP-CSP-REC-CREATE-MIRROR.md
  testplan/docs/director/openebs-provisioning/TCID-DIR-OP-CSP-REC-CREATE-STRIPE.md
  testplan/docs/director/openebs-provisioning/TCID-DIR-OP-CSP-REC-LIST-MIRROR.md
  testplan/docs/director/openebs-provisioning/TCID-DIR-OP-CSP-REC-LIST-NO-NDM.md
  testplan/docs/director/openebs-provisioning/TCID-DIR-OP-CSP-REC-LIST-STRIPE.md
  testplan/docs/director/openebs-provisioning/TCID-DIR-OP-CSP-REC-LIST.md
  testplan/docs/director/openebs-provisioning/plan.md
  testplan/docs/openebs-enterprise/openebs/openebs.md
  testplan/sidebars.js
Labels: director, openebs, testplan

#433 feat(testplan): add soak & scalability tests for local zfs
  testplan/docs/openebs-enterprise/openebs/openebs.md
Labels: local pv, local zfs, scalability, soak, testplan

#446 chore(testplan): updates tcid names & left navigation sections
  testplan/docs/director/dmaas/dmaas.md
  testplan/docs/director/installation/installation.md
  testplan/docs/director/openebs-provisioning/provisioning.md
  testplan/docs/functional.md
  testplan/docs/openebs.md
  testplan/docs/platforms.md
  testplan/docs/scalability.md
  testplan/docs/soakbed.md
  testplan/sidebars.js
Labels: testplan

#447 Removed openebs cleanup code from ending of the job
  litmus/director/tcid-iuoi02-openebs-install/test.yml
  litmus/director/tcid-iuoi03-openebs-control-plane/test.yml
Labels: enhancement

#439 [TCID-DIR-OP-CSP-REC-CREATE-MIRROR]Verify creation of mirror cstor pool cluster
  litmus/director/TCID-DIR-OP-CSP-REC-CREATE-MIRROR/README.md
  litmus/director/TCID-DIR-OP-CSP-REC-CREATE-MIRROR/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-CSP-REC-CREATE-MIRROR/test.yml
  litmus/director/TCID-DIR-OP-CSP-REC-CREATE-MIRROR/test_vars.yml
Labels: cstorpool recommendations, cstorpoolauto, director, e2e-dev-complete, e2e-test-p0, enhancement, openebs, pool, recommendations

#437 [TCID-DIR-OP-CSP-REC-LIST-MIRROR]Verify List of Mirror Recommendations
  litmus/director/TCID-DIR-OP-CSP-REC-LIST-MIRROR/README.md
  litmus/director/TCID-DIR-OP-CSP-REC-LIST-MIRROR/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-CSP-REC-LIST-MIRROR/test.yml
  litmus/director/TCID-DIR-OP-CSP-REC-LIST-MIRROR/test_vars.yml
Labels: cstorpool recommendations, cstorpoolauto, director, e2e-dev-complete, e2e-test-p0, enhancement, pool

#455 chore(glossary): update testcase id glossary
  master-plan.md
Labels: glossary, testplan

#457 feat(pipelines): update pipelines & related stages
  testplan/docs/pipelines.md
Labels: Alpha, cluster, pipeline, testplan

#460 chore(pipelines): categorize pipelines clusters as groups
  testplan/docs/pipelines.md
  testplan/docs/testbed.md
Labels: cluster, pipeline, testplan

#462 Changes status code for cstor pool recommendation
  litmus/director/tcid-ppcp01-create-cstor-pool/test.yml
Labels: bug-fix

#487 feat(dmaas): add mysql, cortex & portal testplans
  testplan/docs/director/dmaas/dmaas.md
Labels: dmaas, testplan

#489 feat(authentication): add test strategies w.r.t authentication
  testplan/docs/director/authentication/authentication.md
  testplan/docs/director/authentication/directorAuth.md
  testplan/sidebars.js
Labels: authentication, testplan

#490 fix(authentication): include correct auth providers in testplan
  testplan/docs/director/authentication/authentication.md
Labels: authentication, bug, testplan

#488 [TCID-DIR-OP-CSP-REC-LIST-NO-NDM]:List cstor pool recommendations without NDM
  litmus/director/TCID-DIR-OP-CSP-REC-LIST-NO-NDM/README.md
  litmus/director/TCID-DIR-OP-CSP-REC-LIST-NO-NDM/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-CSP-REC-LIST-NO-NDM/test.yml
  litmus/director/TCID-DIR-OP-CSP-REC-LIST-NO-NDM/test_vars.yml
Labels: cstorpool recommendations, cstorpoolauto, director, e2e-dev-complete, e2e-test-p0, enhancement, negative, openebs, pool, recommendations

#463 feat(openebs): update director openebs provisioning test cases
  testplan/docs/director/openebs-provisioning/provisioning.md
Labels: director, openebs, testplan

#417 [tcid-iuod25]Upgrade the application with 3 replicas when two pool pods are in pending state
  litmus/director/tcid-iuod25-pool-upgrade-two-pod-not-running/README.md
  litmus/director/tcid-iuod25-pool-upgrade-two-pod-not-running/run_litmus_test.yml
  litmus/director/tcid-iuod25-pool-upgrade-two-pod-not-running/test.yml
  litmus/director/tcid-iuod25-pool-upgrade-two-pod-not-running/test_vars.yml
Labels: OpenEBS-upgrade, director, e2e-dev-complete, e2e-test-p2, enhancement, openebs

#403 [tcid-iuoc04]Upgrade of control plane(1.8) which is higher version of Data plane(1.7)
  litmus/director/tcid-iuoc04-control-plane-upgrade-higher-version/README.md
  litmus/director/tcid-iuoc04-control-plane-upgrade-higher-version/run_litmus_test.yml
  litmus/director/tcid-iuoc04-control-plane-upgrade-higher-version/test.yml
  litmus/director/tcid-iuoc04-control-plane-upgrade-higher-version/test_vars.yml
Labels: OpenEBS-upgrade, e2e-dev-complete, e2e-test-p1, enhancement, install, openebs

#409 [tcid-iuoc03] Upgrade of control plane(1.6) which is lower version of Data plane (1.7)
  litmus/director/tcid-iuoc03-control-plane-upgrade-higher-version-data-plane/README.md
  litmus/director/tcid-iuoc03-control-plane-upgrade-higher-version-data-plane/run_litmus_test.yml
  litmus/director/tcid-iuoc03-control-plane-upgrade-higher-version-data-plane/test.yml
  litmus/director/tcid-iuoc03-control-plane-upgrade-higher-version-data-plane/test_vars.yml
Labels: OpenEBS-upgrade, director, e2e-dev-complete, e2e-test-p0, enhancement

#491 feat(dmaas): add psp & secret related dmaas testplans
  testplan/docs/director/dmaas/dmaas.md
Labels: dmaas, pod security policy, secret, testplan

#492 feat(openebs): add director based openebs testplans
  testplan/docs/director/openebs-provisioning/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-CREATE-MIRROR.md
  testplan/docs/director/openebs-provisioning/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-CREATE-STRIPE.md
  testplan/docs/director/openebs-provisioning/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-LIST-MIRROR.md
  testplan/docs/director/openebs-provisioning/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-LIST-NO-NDM.md
  testplan/docs/director/openebs-provisioning/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-LIST-STRIPE.md
  testplan/docs/director/openebs-provisioning/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-LIST.md
  testplan/docs/director/openebs-provisioning/TCID-DIR-OP-DEVICE-FILTER-PATH.md
  testplan/docs/director/openebs-provisioning/TCID-DIR-OP-DEVICE-FILTER-SSD.md
  testplan/docs/director/openebs-provisioning/TCID-DIR-OP-DEVICE-IGNORE.md
  testplan/docs/director/openebs-provisioning/TCID-DIR-OP-DEVICE-VIEW-ALL.md
  testplan/docs/director/openebs-provisioning/TCID-DIR-OP-DEVICE-VIEW-SCALE-RESTART.md
  testplan/docs/director/openebs-provisioning/TCID-DIR-OP-DEVICE-VIEW-SCALE.md
  testplan/docs/director/openebs-provisioning/TCID-DIR-OP-DEVICE-VIEW-TOGGLE.md
  testplan/docs/director/openebs-provisioning/provisioning.md
  testplan/sidebars.js
Labels: director, openebs, testplan

#496 feat(master yaml): add dmaas & openebs TCIDs to master test plan yaml
  .master-plan.yml
  testplan/docs/director/dmaas/dmaas.md
Labels: dmaas, master plan, openebs, testplan

#502 feat(director): add install upgrade testplans of director
  .master-plan.yml
  testplan/docs/director/installation/installation.md
  testplan/docs/director/installation/tc-install-gpd-lpv.md
  testplan/docs/director/installation/tc-install-gpd-std.md
  testplan/docs/director/installation/tc-install-ssd-cstor.md
  testplan/docs/director/installation/tc-install-ssd-lpv.md
  testplan/docs/director/installation/tc-upgrade-gpd-std.md
  testplan/docs/director/installation/tc-upgrade-ssd-cstor.md
  testplan/docs/director/installation/tc-upgrade-ssd-lpv.md
  testplan/sidebars.js
Labels: director, testplan

#503 feat(director): add testplans w.r.t director install on persistent disks
  .master-plan.yml
  testplan/docs/director/installation/installation.md
Labels: director, master plan, testplan

#507 feat(dmaas): add ml, data movement, source unavailable testplans
  .master-plan.yml
  testplan/docs/director/dmaas/dmaas.md
Labels: dmaas, master plan, testplan
