Repository mayadata-io/oep-e2e, pull requests merged in 2020-09, with the labels that each got.

#887 Fetch openebs_target_version from upgradematrixs endpoint to upgrade openebs control plane
  .travis.yml
  litmus/director/TCID-DIR-OP-OPENEBS-UPGRADE-CP/test.yml
Labels: api, openebs upgrade

#895 build(release): add E2E release notes for Kubera 2.0
  testplan/docs/kubera-e2e-release-2.0.md
  testplan/sidebars.js
Labels: sticky

#897 fix(release): update release notes for E2E pipelines
  testplan/docs/kubera-e2e-release-1.12.md
  testplan/docs/kubera-e2e-release-2.0.md
Labels: release notes
