Repository mayadata-io/oep-e2e, pull requests merged in 2020-05, with the labels that each got.

#511 Added md file for TCID-DIR-OP-CSTOR-POOL-RECOMMEND-CREATE-MIRROR and changed name of recommendation jobs
  .master-plan.yml
  testplan/docs/director/openebs-provisioning/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-MIRROR-REBOOT-NODE.md
  testplan/docs/director/openebs-provisioning/provisioning.md
Labels: cstorpool recommendations, cstorpoolauto, documentation

#512 Added precheck for openebs uninstall and label-cleanup
  litmus/director/tcid-iuoi03-openebs-control-plane/test.yml
Labels: bug-fix, install

#513 chore(authentication): remove testplans that are not based on tcid
  testplan/docs/director/authentication/authentication.md
  testplan/docs/director/authentication/tc-auth-ad-signup.md
  testplan/docs/director/authentication/tc-auth-ad-user.md
  testplan/docs/director/authentication/tc-auth-github-signup.md
  testplan/docs/director/authentication/tc-auth-github-user.md
  testplan/docs/director/authentication/tc-auth-gmail-signup.md
  testplan/docs/director/authentication/tc-auth-gmail-user.md
  testplan/docs/director/authentication/tc-auth-la-admin.md
  testplan/docs/director/authentication/tc-auth-la-signup.md
  testplan/docs/director/authentication/tc-auth-la-user.md
  testplan/sidebars.js
Labels: authentication, testplan

#516 Removed openebs cleanup task from openebs-resource-limit-installation job
  litmus/director/tcid-iuoi14-openebs-resource-limit-installation/test.yml
Labels: install

#518 Removed pause from test file
  litmus/director/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-CREATE-STRIPE/test.yml
Labels: bug-fix

#524 Added cstor pool creation using RAIDZ test in test plan
  .master-plan.yml
  testplan/docs/director/openebs-provisioning/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-CREATE-RAIDZ.md
  testplan/docs/director/openebs-provisioning/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-LIST-RAIDZ.md
  testplan/docs/director/openebs-provisioning/provisioning.md
  testplan/sidebars.js
Labels: cstorpool recommendations, cstorpoolauto, documentation

#533 Added result readme link in test plan md
  testplan/docs/director/openebs-provisioning/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-CREATE-MIRROR.md
  testplan/docs/director/openebs-provisioning/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-CREATE-STRIPE.md
  testplan/docs/director/openebs-provisioning/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-LIST-MIRROR.md
  testplan/docs/director/openebs-provisioning/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-LIST-NO-NDM.md
  testplan/docs/director/openebs-provisioning/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-LIST-STRIPE.md
Labels: testplan

#546 Changed openebs test name and added it in test plan site.
  .master-plan.yml
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS/README.md
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS/test.yml
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS/test_vars.yml
  testplan/docs/director/openebs-provisioning/TCID-DIR-OP-INSTALL-OPENEBS.md
  testplan/docs/director/openebs-provisioning/provisioning.md
  testplan/sidebars.js
Labels: install, master plan

#549 feat(testplan): add dmaas, auth and dop based openebs install cases
  .master-plan.yml
  testplan/docs/director/authentication/authentication.md
  testplan/docs/director/dmaas/dmaas.md
  testplan/docs/director/installation/installation.md
  testplan/docs/director/openebs-provisioning/provisioning.md
Labels: authentication, director, dmaas, master plan, openebs

#510 [TCID-DIR-OP-CSTOR-POOL-MIRROR-RECOMMEND-REBOOT-NODE]Verify mirror cstor pool cluster after node reboot
  litmus/director/TCID-DIR-OP-CSTOR-POOL-MIRROR-RECOMMEND-REBOOT-NODE/README.md
  litmus/director/TCID-DIR-OP-CSTOR-POOL-MIRROR-RECOMMEND-REBOOT-NODE/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-CSTOR-POOL-MIRROR-RECOMMEND-REBOOT-NODE/test.yml
  litmus/director/TCID-DIR-OP-CSTOR-POOL-MIRROR-RECOMMEND-REBOOT-NODE/test_vars.yml
Labels: DO NOT MERGE, cstorpool recommendations, cstorpoolauto, director, e2e-complete, e2e-test-p1, enhancement, need-discussion, negative, pool, recommendations

#552 feat(testplan): add cstor, jiva upgrade testplans
  .master-plan.yml
  testplan/docs/director/openebs-provisioning/provisioning.md
Labels: cstor, jiva

#555 Added check for openebses status after cleanup
  utils/openebs-cleanup.yml
Labels: install

#556 Added openebs install tcid in master plan yml
  .master-plan.yml
Labels: install, master plan

#559 Renamed all openebs install jobs according to master-plan
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-CP-ON-SPECIFIC-NODE/README.md
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-CP-ON-SPECIFIC-NODE/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-CP-ON-SPECIFIC-NODE/test.yml
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-CP-ON-SPECIFIC-NODE/test_vars.yml
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-DP-ON-SPECIFIC-NODE/README.md
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-DP-ON-SPECIFIC-NODE/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-DP-ON-SPECIFIC-NODE/test.yml
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-DP-ON-SPECIFIC-NODE/test_vars.yml
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-LIMIT-RESOURCE/README.md
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-LIMIT-RESOURCE/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-LIMIT-RESOURCE/test.yml
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-LIMIT-RESOURCE/test_vars.yml
  litmus/director/TCID-DIR-OP-RE-INSTALL-OPENEBS/README.md
  litmus/director/TCID-DIR-OP-RE-INSTALL-OPENEBS/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-RE-INSTALL-OPENEBS/test.yml
  litmus/director/TCID-DIR-OP-RE-INSTALL-OPENEBS/test_vars.yml
Labels: install

#587 [TCID-DIR-OP-CSTOR-POOL-RECOMMEND-LIST-RAIDZ]:List raidz based cstor pool recommendations
  litmus/director/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-LIST-RAIDZ/README.md
  litmus/director/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-LIST-RAIDZ/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-LIST-RAIDZ/test.yml
  litmus/director/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-LIST-RAIDZ/test_vars.yml
Labels: cstor, cstorpool recommendations, cstorpoolauto, director, e2e-dev-complete, e2e-test-p1, enhancement, pool, recommendations

#586 Added cstor pool deletion test cases in master.yml
  .master-plan.yml
Labels: cstor, cstorpool recommendations, cstorpoolauto, master plan, testplan

#600 Added check for cleaning SPC
  utils/openebs-cleanup.yml
Labels: install

#606 Added check for specific component in install jobs
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-CP-ON-SPECIFIC-NODE/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-CP-ON-SPECIFIC-NODE/test.yml
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-DP-ON-SPECIFIC-NODE/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-DP-ON-SPECIFIC-NODE/test.yml
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS/test.yml
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS/test_vars.yml
  utils/openebs-cleanup.yml
Labels: bug-fix, install

#607 [TCID-DIR-OP-DELETE-CSPC-WITH-NO-VOLUME]:Delete CSPC created via director which has no volume
  litmus/director/TCID-DIR-OP-DELETE-CSPC-WITH-NO-VOLUME/README.md
  litmus/director/TCID-DIR-OP-DELETE-CSPC-WITH-NO-VOLUME/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-DELETE-CSPC-WITH-NO-VOLUME/test.yml
  litmus/director/TCID-DIR-OP-DELETE-CSPC-WITH-NO-VOLUME/test_vars.yml
Labels: cstor, cstorpool recommendations, cstorpoolauto, e2e-dev-complete, e2e-test-p1

#608 Changed description for cstor pool deletion TC
  .master-plan.yml
Labels: master plan

#611 Added check to get bd details
  litmus/director/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-CREATE-MIRROR/test.yml
  litmus/director/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-CREATE-STRIPE/test.yml
  litmus/director/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-LIST-MIRROR/test.yml
  litmus/director/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-LIST-RAIDZ/test.yml
  litmus/director/TCID-DIR-OP-CSTOR-POOL-RECOMMEND-LIST-STRIPE/test.yml
  litmus/director/TCID-DIR-OP-DELETE-CSPC-WITH-NO-VOLUME/test.yml
Labels: cstor, cstorpool recommendations
