Repository mayadata-io/oep-e2e, pull requests merged in 2020-02, with the labels that each got.

#227 feat(iuod01): Upgrade OpenEBS Pool and volume installed by Director
  litmus/director/openebs-upgrade/run_litmus_test.yml
  litmus/director/openebs-upgrade/test.yaml
  litmus/director/openebs-upgrade/test_vars.yml
  litmus/director/pool-upgrade/run_litmus_test.yml
  litmus/director/pool-upgrade/test.yml
  litmus/director/pool-upgrade/test_vars.yml
  litmus/director/volume-upgrade/run_litmus_test.yml
  litmus/director/volume-upgrade/test.yml
  litmus/director/volume-upgrade/test_vars.yml
Labels: e2e-dev-complete, e2e-test-p0

#230 feat(iuod27)Upgrade the volumes of application when all replica pods are running
  litmus/director/openebs-upgrade-jiva/run_litmus_test.yml
  litmus/director/openebs-upgrade-jiva/test.yml
  litmus/director/openebs-upgrade-jiva/test_vars.yml
Labels: e2e-test-p0, e2e-wip

#208 feat(iuoi02):Automation of OpenEBS Installation on a K8S Cluster connected to Director Onprem Cluster
  litmus/director/openebs-install/run_litmus_test.yml
  litmus/director/openebs-install/test.yml
  litmus/director/openebs-install/test_vars.yml
Labels: e2e-dev-complete, e2e-test-p0, enhancement

#228 feat(iuoi03): Adding TC for installing openebs control plane components on specific nodes
  litmus/director/openebs-control-plane-test/run_litmus_test.yml
  litmus/director/openebs-control-plane-test/test.yml
  litmus/director/openebs-control-plane-test/test_vars.yml
Labels: e2e-dev-complete, e2e-test-p0

#232 feat(iuoc03): Adding TC for installing openebs data plane components on specific nodes
  litmus/director/openebs-data-plane-test/run_litmus_test.yml
  litmus/director/openebs-data-plane-test/test.yml
  litmus/director/openebs-data-plane-test/test_vars.yml
Labels: e2e-dev-complete, e2e-test-p0

#233 feat(iuoi01):Install OpenEBS on a Director Onprem Cluster
  litmus/director/openebs-self-install/run_litmus_test.yml
  litmus/director/openebs-self-install/test.yml
  litmus/director/openebs-self-install/test_vars.yml
Labels: e2e-dev-complete, e2e-test-p0
