Repository mayadata-io/oep-e2e, pull requests merged in 2020-08, with the labels that each got.

#842 Added seperate section for openebs install and openebs upgrade in testplan site
  testplan/docs/director/openebs-provisioning/provisioning.md
  testplan/docs/openebs-install/TCID-DIR-OP-INSTALL-OPENEBS-CP-ON-SPECIFIC-NODE.md
  testplan/docs/openebs-install/TCID-DIR-OP-INSTALL-OPENEBS-DP-ON-SPECIFIC-NODE.md
  testplan/docs/openebs-install/TCID-DIR-OP-INSTALL-OPENEBS-LIMIT-RESOURCE.md
  testplan/docs/openebs-install/TCID-DIR-OP-INSTALL-OPENEBS.md
  testplan/docs/openebs-install/TCID-DIR-OP-RE-INSTALL-OPENEBS.md
  testplan/docs/openebs-install/openebs-install.md
  testplan/docs/openebs-upgrade/TCID-DIR-OP-OPENEBS-UPGRADE-CP.md
  testplan/docs/openebs-upgrade/openebs-upgrade.md
  testplan/sidebars.js
Labels: openebs, openebs upgrade, testplan

#843 Added retries to check for upgraded version of openebs components
  litmus/director/TCID-DIR-OP-OPENEBS-UPGRADE-CP/test.yml
Labels: fix, openebs upgrade

#846 Added cleanup task and EXCLUDE_DEVICE_FILTER env variable in test script
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-LIMIT-RESOURCE/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-LIMIT-RESOURCE/test.yml
Labels: konvoy, openebs, rancher

#848 [TCID-DIR-OP-UPGRADE-CSTOR-POOL]: Upgrade cstor pool via director
  litmus/director/TCID-DIR-OP-UPGRADE-CSTOR-POOL/README.md
  litmus/director/TCID-DIR-OP-UPGRADE-CSTOR-POOL/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-UPGRADE-CSTOR-POOL/test.yml
  litmus/director/TCID-DIR-OP-UPGRADE-CSTOR-POOL/test_vars.yml
Labels: api, cstorpool recommendations, e2e-test-p1, openebs upgrade, pool

#849 [Enhancement]:Added seperate blocks for labeling node for different platforms
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-LIMIT-RESOURCE/run_litmus_test.yml
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-LIMIT-RESOURCE/test.yml
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-LIMIT-RESOURCE/test_vars.yml
Labels: api, aws, konvoy, openebs, rancher

#852 Fix for POST request of labelling node
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-LIMIT-RESOURCE/test.yml
Labels: fix

#853 Label node-6 for RANCHER and KONVOY before openebs installation
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-LIMIT-RESOURCE/test.yml
Labels: bug

#856 Removed typo from test script of pool upgrade
  litmus/director/TCID-DIR-OP-UPGRADE-CSTOR-POOL/test.yml
Labels: bug

#857 Added few more path in EXCLUDE_DEVICE_FILTER to so that these disks are not used to create BD
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-LIMIT-RESOURCE/run_litmus_test.yml
Labels: bug, openebs

#861 (Fix):Added sleep after labelling node in Resource limit openebs installation job
  litmus/director/TCID-DIR-OP-INSTALL-OPENEBS-LIMIT-RESOURCE/test.yml
Labels: api, fix, openebs-install

#858 (testplan):Added cluster details for openebs install test cases in testplan site
  testplan/docs/openebs-install/openebs-install.md
  testplan/docs/openebs-upgrade/openebs-upgrade.md
Labels: cluster, documentation, openebs, testplan

#866 feat(add): script to monitor lab infra
  monitor/actions.go
  monitor/config.go
  monitor/main.go
  monitor/pooling.go
Labels: wip
